<div class="rapport-container">
  <div *ngFor="let rapport of rapport" class="rapport-card">
    <h2>Réunion ID: {{ (rapport.idReunion) }}</h2>
    <h3>Rapporteur ID: {{ rapport.idRapporteur }}</h3>
    <p><strong>Description:</strong> {{ rapport.description }}</p>
    <p><strong>Résumé:</strong> {{ rapport.description_resume }}</p>
    <p><strong>Description Corrigée:</strong> {{ rapport.description_corrige }}</p>

    <button mat-button (click)="editRapport(rapport.id_rapport)">Modifier</button>
  </div>

</div>
