<div style="display: flex;justify-content: center;align-items: center;padding-top: 15px">
  <mat-card [formGroup]="loginFormGroup" class="mc">
  <mat-card-title style="text-align: center">Login</mat-card-title>
  <mat-card-content class="mcc">

    <mat-card-content>
      <mat-icon style="padding-right: 10px">person</mat-icon>
      <mat-form-field>
        <mat-label>Username or Email</mat-label>
        <input type="text"
               formControlName="username"
               matInput placeholder="Username or Email" required>
      </mat-form-field>
    </mat-card-content>

    <mat-card-content>
      <mat-icon style="padding-right: 10px" >key</mat-icon>
      <mat-form-field style="padding-right: 10px">
        <mat-label>Password</mat-label>
        <input type="password"
               formControlName="password"
               matInput placeholder="Password" required>
      </mat-form-field>
    </mat-card-content>

  </mat-card-content>
  <mat-card-actions style="align-self: center">
    <button
      (click)="login()"
      mat-raised-button color="accent">Submit</button>
  </mat-card-actions>
</mat-card>
</div>
<router-outlet></router-outlet>

