<div class="container">
  <mat-card *ngFor="let reunion of reunions" class="card">
    <mat-card-header>
      <div class="header">
        <mat-card-title>{{ 'Réunion ' + (reunion.titre) }}</mat-card-title>
      </div>
    </mat-card-header>
    <mat-card-content>
      <div class="subtitle">Organisée par {{ reunion.nom_organisateur }}</div>
      <p>{{ reunion.description }}</p>
      <p>Rapporteur: {{ reunion.nom_rapporteur }}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button color="primary" (click)="editRapport(reunion.id_Re)">rapport</button>
      <span></span>
      <button mat-button color="primary" (click)="modifierReunion(reunion)">Modifier</button>
      <button mat-button color="warn" (click)="supprimerReunion(reunion)">Supprimer</button>
    </mat-card-actions>
  </mat-card>
</div>




